# set cache for proxy
proxy_cache_path /var/cache/nginx/ levels=1:2 keys_zone=s3_cache:10m max_size=10g inactive=60m use_temp_path=off;
proxy_cache_key "$scheme$request_method$host$request_uri";

server {
  listen 80;

  location /assets/ {

    # specify cacheable methods
    proxy_cache_methods GET HEAD;

    # use proxy zone
    proxy_cache s3_cache;

    # handle bypass requests
    # proxy_cache_bypass $http_cache_control;
    proxy_cache_bypass $http_pragma;


    # prevent concurrent requests to origin server
    proxy_cache_lock on;

    # disable browser caching
    add_header 'Cache-Control' 'no-cache';

    # set etag for browser
    etag on;

    # use conditional GET requests when refreshing from the origin server (etag related)
    proxy_cache_revalidate on;

    # set custom header to see cache status
    add_header X-Proxy-Cache $upstream_cache_status;

    # set custom header to see cache control
    add_header X-Proxy-Debug $http_pragma;

    rewrite /assets/(.*) /$1 break;
    proxy_pass http://s3:80;
  }
}
